.Review {
  height: min-content;
}

#myDIV {
  display: none;
}

#comment_button {
  display: block;
}

#boss_comment {
  display: block;
}


#buttons {
  display: block;
}

#edit_comment{
  display: none;
}

.review {
 height: max-content;
}

.re_review {
  height: max-content;
}