.Review {
  height: min-content;
}

#myDIV {
  display: none;
}

#comment_button {
  display: block;
}

#boss_comment {
  display: block;
}


#buttons {
  display: block;
}

#edit_comment{
  display: none;
}
/*이 문장 밑으로 부터 정리한거*/
#C_comment{
  display: block;
}

#C_comment_edit{
  display: none;
}

#C_comment_buttons{
  display: block;
}

.review {
 height: max-content;
}

.re_review {
  height: max-content;
}